@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  .navbar {
    height: 95px;
    width: 100%;
    max-width: 1440px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
  }

.navbar-logo {
    display: flex;
    align-items: center;
    height: 45px;
    width: 166px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.navbar-font {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #0306A0;
    padding-left: 18px;
}
.login-btn {
    width: 121px;
    height: 44px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #f05ba5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 1rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.green-left{
    width: 452px;
    height: 604.0000551877262;
    top: 673.5px;
    padding-left: -60.74px;
}

.hero {
    text-align: center;
    padding: 84px 20px;
    
  }
  
  .hero-title {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 46px;
    font-weight: 600;
    margin: 0;
  }
  
  .hero-title .blue { color: #4043E9; }
  .hero-title .pink { color: #E9509D; }
  .hero-title .green { color: #38DDA6; }
  
  .hero-description {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 18px;
    max-width: 680px;
    margin: 22px auto 60px;
    color: #000;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .card {
    height : 187px;
    width: 432px;
    padding: 13px;
    border: 3px solid #C0C1FD;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    width: 432;
  }

  .card-title{
    width: 432px;
    height: 33px;
    display : flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
    border-bottom: 3px solid #C0C1FD;
    
  }
  
  .card h3 {
    font-family: plus jakarta sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 14px;
    
  }
  
  .card p {
    font-family: plus jakarta sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  
  .pink-btn {
    background-color: #DD388B;
    color: white;
    padding: 24,5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 118px;
    height: 44px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin : 7px 144px 13px;
  }
  
  .green-btn {
    background-color: #27CD95;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 118px;
    height: 44px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin : 7px 144px 13px;
  }